$color-white: #ffffff;
$color-black: #000;

$animation-length: .15s;

$container-x-padding: 15px;

$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1400px,
);
